<?xml version="1.0"?>

<robot  name="ar601" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="LWrist1_inertial_macro">
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="RWrist1_inertial_macro">
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="LWrist2_inertial_macro">
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="RWrist2_inertial_macro">
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="LFinger1_1_inertial_macro">
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="RFinger1_1_inertial_macro">
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="LFinger1_2_inertial_macro">
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="RFinger1_2_inertial_macro">    
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="LFinger2_1_inertial_macro">    
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="RFinger2_1_inertial_macro"> 
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="LFinger2_2_inertial_macro"> 
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="RFinger2_2_inertial_macro"> 
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="LFinger2_3_inertial_macro"> 
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="RFinger2_3_inertial_macro"> 
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="LFinger3_1_inertial_macro"> 
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="RFinger3_1_inertial_macro"> 
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="LFinger3_2_inertial_macro"> 
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="RFinger3_2_inertial_macro"> 
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="LFinger3_3_inertial_macro"> 
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="RFinger3_3_inertial_macro"> 
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="LFinger4_1_inertial_macro"> 
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="RFinger4_1_inertial_macro"> 
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="LFinger4_2_inertial_macro"> 
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="RFinger4_2_inertial_macro"> 
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="LFinger4_3_inertial_macro"> 
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="RFinger4_3_inertial_macro"> 
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="LFinger5_1_inertial_macro"> 
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="RFinger5_1_inertial_macro"> 
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="LFinger5_2_inertial_macro"> 
  <inertial_constant_macro />
</xacro:macro> 

<xacro:macro name="RFinger5_2_inertial_macro"> 
  <inertial_constant_macro />
</xacro:macro> 



</robot>
