<?xml version="1.0"?>

<robot  name="robotis_op2" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="LPelvis_inertial_macro">
    <inertial>
      <origin
        xyz="-0.034 0.0 0.054"
        rpy="0 0 0" />
      <mass
        value="0.908" />
      <inertia
        ixx="0.00151"
        ixy="0.0"
        ixz="0.0"
        iyy="0.00414"
        iyz="0.0"
        izz="0.0037" />
    </inertial>
</xacro:macro> 

<xacro:macro name="RPelvis_inertial_macro">
    <inertial>
      <origin
        xyz="-0.034 0.0 0.054"
        rpy="0 0 0" />
      <mass
        value="0.908" />
      <inertia
        ixx="0.00151"
        ixy="0.0"
        ixz="0.0"
        iyy="0.00414"
        iyz="0.0"
        izz="0.0037" />
    </inertial>
</xacro:macro> 

<xacro:macro name="LHip_inertial_macro">
    <inertial>
      <origin
        xyz="-0.014 0.0 0.0"
        rpy="0 0 0" />
      <mass
        value="0.755" />
      <inertia
        ixx="0.000786"
        ixy="0.0"
        ixz="0.0"
        iyy="0.00127"
        iyz="0.0"
        izz="0.00156" />
    </inertial>
</xacro:macro> 

<xacro:macro name="RHip_inertial_macro">
    <inertial>
      <origin
        xyz="-0.014 0.0 0.0"
        rpy="0 0 0" />
      <mass
        value="0.755" />
      <inertia
        ixx="0.000786"
        ixy="0.0"
        ixz="0.0"
        iyy="0.00127"
        iyz="0.0"
        izz="0.00156" />
    </inertial>
</xacro:macro> 

<xacro:macro name="LThigh_inertial_macro">
    <inertial>
      <origin
        xyz="0.008 0.007 -0.17"
        rpy="0 0 0" />
      <mass
        value="4.04" />
      <inertia
        ixx="0.0407"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0352"
        iyz="0.0"
        izz="0.0117" />
    </inertial>
</xacro:macro> 

<xacro:macro name="RThigh_inertial_macro">
    <inertial>
      <origin
        xyz="0.008 -0.007 -0.17"
        rpy="0 0 0" />
      <mass
        value="4.04" />
      <inertia
        ixx="0.0407"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0352"
        iyz="0.0"
        izz="0.0117" />
    </inertial>
</xacro:macro> 

<xacro:macro name="LTibia_inertial_macro">
    <inertial>
      <origin
        xyz="0.002 0.004 -0.153"
        rpy="0 0 0" />
      <mass
        value="2.441" />
      <inertia
        ixx="0.0138"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0113"
        iyz="0.0"
        izz="0.00566" />
    </inertial>
</xacro:macro> 

<xacro:macro name="RTibia_inertial_macro">
    <inertial>
      <origin
        xyz="0.002 -0.004 -0.153"
        rpy="0 0 0" />
      <mass
        value="2.441" />
      <inertia
        ixx="0.0138"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0113"
        iyz="0.0"
        izz="0.00566" />
    </inertial>
</xacro:macro>

<xacro:macro name="LAnkle_inertial_macro">
    <inertial>
      <origin
        xyz="-0.007 -0.001 0.0"
        rpy="0 0 0" />
      <mass
        value="0.297" />
      <inertia
        ixx="0.000161"
        ixy="0.0"
        ixz="0.0"
        iyy="0.000283"
        iyz="0.0"
        izz="0.000346" />
    </inertial>
</xacro:macro> 

<xacro:macro name="RAnkle_inertial_macro">
    <inertial>
      <origin
        xyz="-0.007 0.001 0.0"
        rpy="0 0 0" />
      <mass
        value="0.297" />
      <inertia
        ixx="0.000161"
        ixy="0.0"
        ixz="0.0"
        iyy="0.000283"
        iyz="0.0"
        izz="0.000346" />
    </inertial>
</xacro:macro> 

<xacro:macro name="LFoot_inertial_macro">
    <inertial>
      <origin
        xyz="0.008 -0.004 -0.072"
        rpy="0 0 0" />
      <mass
        value="2.208" />
      <inertia
        ixx="0.00541"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0129"
        iyz="0.0"
        izz="0.0152" />
    </inertial>
</xacro:macro> 

<xacro:macro name="RFoot_inertial_macro">
    <inertial>
      <origin
        xyz="0.008 0.004 -0.072"
        rpy="0 0 0" />
      <mass
        value="2.208" />
      <inertia
        ixx="0.00541"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0129"
        iyz="0.0"
        izz="0.0152" />
    </inertial>
</xacro:macro> 

</robot>
